*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-background-color: #5eead4;
    --main-container-color: #0d9488;
    --main-symbol-color: #18181b;
    --color-white: #fff;
}

html{
    font-size: 10px;
}

.active{
    border: 0.3rem solid var(--color-white) !important;
    transform: scale(1.1);
    transition: 0.3s;
}

.non-editable{
    pointer-events: none;
}

.main{
    width: 100vw;
    height: 100vh;
    background-color: var(--main-background-color);
    display: grid;
    place-content: center;
    gap: 1rem;

    font-size: 2rem;
}

.main > div{
    max-width: 30rem;
}

.main .container{
    width: 30rem;
    height: 30rem;
    

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

.main .container .cell{
    border: 0.2rem solid var(--main-container-color);
    display: grid;
    place-items: center;
}

.options{
    /* border: 2px solid red; */
}

.main .options{
 display: flex;
 gap: 2rem;
}
.main .options .option{
    flex: 1;
    border: 0.1rem solid var(--main-symbol-color);
    padding: 0 0.5rem 0 0.5rem;
    border-radius: 0.5rem;
}

.main .names{
    display: flex;
    gap: 3rem;
}
input{
    flex: 1;
    max-width: 13.5rem;
    height: 3rem;
}

.main p{
    position: relative;
    right: 3rem;
}



